.header {
  padding: 0.4rem;
  position: fixed;
  top: 0;
  z-index: 99999;
  background-color: rgb(7, 7, 7);
  &-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 0.5rem;
  }
}
.search {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: flex-end;
  position: relative;
  &-bar {
    width: 100%;
    border: 1px solid white;
    height: 2.9rem;
    background: #000;
    color: white;
    outline: #f0f0f0;
    padding: 0.4rem 0.7rem;
    font-size: 0.8rem;
  }
  &-label {
    font-size: 1rem;
    color: white;
    padding: 1.3rem;

    position: absolute;
  }
}

.icon {
  color: #fffefe;
  font-size: 1.6rem;
  margin-right: 2rem;
  border: none;
  text-decoration: none;
}
.logo {
  width: 10%;
  height: auto;
  filter: brightness(200%);
  margin-left: 1rem;
}
.logo-youtube {
  width: 100%;
}
.active {
  display: none;
}
@media (max-width: 685px) {
  // html {
  //   font-size: 65%;
  // }
  .deactive {
    display: none;
  }
  .icon {
    margin-right: 0.4rem;
  }
  .active {
    display: block;
  }
  .logo {
    width: 15%;
    margin-left: 0rem;
  }
}
.user-n {
  font-size: 0.6rem;
  font-family: sans-serif;
}
.icons {
  position: relative;
}

.loginpopup {
  position: absolute;
  top: 165%;
  right: 0;
  background-color: #000000;
  z-index: 9999999;
  //  padding: 1rem 1rem;
  height: 5rem;
  width: 10rem;
}
.login-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-item {
  color: white;
  font-family: sans-serif;
  font-size: 0.8rem;
  padding: 0.4rem 0.5rem;
  // color: black;
  margin-top: 0.1rem;
  list-style: none;
  cursor: pointer;
}

.google-box {
  border: none;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  border: none;
  padding: 0rem;
  background: #000;
  cursor: pointer;
}
