@import "sass/Header";
@import "sass/Nav";
@import "sass/Videos";
@import "sass/VideoPlayer";
@import "sass/Search";
@import "sass/SubscribeChannels";
@import "sass/SchannelVideos";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0, 0, 0);
}
.dark-theme{
  background: #000;
  color: rgb(204, 70, 70);
}
.light-theme{
  background-color: white;
  color: white;
}
.u {
  color: rgb(236, 227, 227);
}

@media (max-width: 821px) {
  html {
    font-size: 63%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 53%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 45%;
  }
}
