@import "sass/Header";
@import "sass/Nav";
@import "sass/Videos";
@import "sass/VideoPlayer";
@import "sass/Search";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
}
.u {
  color: rgb(236, 227, 227);
}

.uuu{
  color: white;
}